.codification-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.codification-content-container{
    padding: 15px 15px;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

textarea{
    width: 45vw;
    height: 60vh;
    resize: none;
}

.json-text-area-container{
    font-weight: 600;
}

.project-name-container{
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: 700;
}

.json-text-area{
    display: flex;
    flex-direction: column;
}

.error-message-container{
    color: red;
}

.encode-message-container{
    margin-top: 7px;
    max-width: 45vw;
    word-wrap:break-word;
}

.drag-n-drop{
    width: 100%;
    background-color: white;
    padding-left: 7px;
    border-style: solid;
    border-width: 1px;
}